.button {
   padding: 10px 10px;
   border-radius: 3px;
   margin: 0 10px;
   color: white;
   width: 30%;
   text-align: center;
   cursor: pointer;
}
.button:hover {
   opacity: 0.8;
}
.confirm {
   background-color: green;
}
.cancel {
   background-color: red;
}